## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
num = 12
name = 'Sam'

In [19]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [20]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [21]:
[1,2,3]

[1, 2, 3]

In [22]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [23]:
my_list = ['a','b','c']

In [24]:
my_list.append('d')

In [25]:
my_list

['a', 'b', 'c', 'd']

In [26]:
my_list[0]

'a'

In [27]:
my_list[1]

'b'

In [28]:
my_list[1:]

['b', 'c', 'd']

In [29]:
my_list[:1]

['a']

In [30]:
my_list[0] = 'NEW'

In [31]:
my_list

['NEW', 'b', 'c', 'd']

In [32]:
nest = [1,2,3,[4,5,['target']]]

In [33]:
len(nest)

4

In [34]:
nest[3]

[4, 5, ['target']]

In [35]:
nest[3][2]

['target']

In [36]:
nest[3][2][0]

'target'

### Dictionaries

In [1]:
d = {'key1':'item1','key2':'item2'}

In [2]:
d

{'key1': 'item1', 'key2': 'item2'}

In [3]:
d['key1']

'item1'

In [4]:
d.keys()

dict_keys(['key1', 'key2'])

In [7]:
list1 = d.values()
print(type(list1))

<class 'dict_values'>

In [8]:
d['key3']

KeyError: 'key3'

In [10]:
result = d.get('key3')
print(result)

None

In [11]:
my_list = [1, 2, 3, 4] 
your_list = [4, 3, 2, 1] 
his_list = [1, 2, 3, 4]

In [12]:
print(my_list == your_list)

False

In [13]:
print(my_list == his_list)

True

In [18]:
my_dict = {1:1, 2:2, 3:3, 4:4} 
your_dict = {4:4, 3:3, 2:2, 1:1}

In [19]:
print(my_dict == your_dict)

True

In [20]:
for num in [1,2,3,4,5]:
	print(num**2)

1
4
9
16
25

In [21]:
for num in 'computer':
	print(num)

c
o
m
p
u
t
e
r

In [22]:
prices = [2.50, 3.50, 4.50] 
for price in prices: 
    print('Price is', price)

Price is 2.5
Price is 3.5
Price is 4.5

In [27]:
import random
r1 = random.random() # Gives us a random number from [0.0, 1.0
print(r1)
r2 = random.choice([1,2,3,4,5]) # Gives us a random choice from a list
print(r2)
r3 = random.randint(1, 1000) # Gives us a random number in this range
print(r3)

0.334316180053986
1
526

In [34]:
import random
for i in range(10):
    ticket = random.randint(1, 1000)
    print(ticket)

889
691
666
12
745
242
494
121
125
287

In [33]:
for i in range(2005, 2017, 2):
    print(i)

2005
2007
2009
2011
2013
2015

In [35]:
menu_prices = {'Knackered Spam': 0.50, 'Pip pip Spam': 1.50, 'Squidgy Spam': 2.50, 'Smashing Spam': 3.50 }
for name, price in menu_prices.items():
    print(name, ': $', price)

Knackered Spam : $ 0.5
Pip pip Spam : $ 1.5
Squidgy Spam : $ 2.5
Smashing Spam : $ 3.5

In [37]:
n= int(input('Enter the Number'))
for num in range(1,n+1,1):
    print(num)

Enter the Number4
1
2
3
4

In [47]:
n = 5 # Initialization
num= int(input('Enter the Nunber'))
while n <= num : # Logical Expression
    #print(n) # Body of the loop
    n += 1 # Body of the loop
    print('hi')
    if (n > 8):
        continue
    if (n > 7):
        break
    print(n)

Enter the Nunber13
hi
6
hi
7
hi

In [50]:
for i in range(2005, 2009, 1):
    print('inside outer loop',i)
    for j in range(2005, 2009, 1):
        print('inside inner loop',j)    
print('Goodbye!')

inside outer loop 2005
inside inner loop 2005
inside inner loop 2006
inside inner loop 2007
inside inner loop 2008
inside outer loop 2006
inside inner loop 2005
inside inner loop 2006
inside inner loop 2007
inside inner loop 2008
inside outer loop 2007
inside inner loop 2005
inside inner loop 2006
inside inner loop 2007
inside inner loop 2008
inside outer loop 2008
inside inner loop 2005
inside inner loop 2006
inside inner loop 2007
inside inner loop 2008
Goodbye!

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3)

In [43]:
a= list(t)

In [44]:
type(a)

list

In [45]:
a[0] = 'NEW'

In [46]:
a

['NEW', 2, 3]

In [47]:
t[0]

1

In [48]:
a[0]

'NEW'

In [49]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [50]:
{1,2,3}

{1, 2, 3}

In [51]:
S= {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [52]:
len(S)

3

In [53]:
S

{1, 2, 3}

## Comparison Operators

In [54]:
1 > 2

False

In [55]:
1 < 2

True

In [56]:
1 >= 1

True

In [57]:
1 <= 4

True

In [58]:
1 == 1

True

In [59]:
'hi' == 'bye'

False

## Logic Operators

In [60]:
(1 > 2) and (2 < 3)

False

In [61]:
(1 > 2) or (2 < 3)

True

In [62]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [63]:
if 1 < 2:
    print('Yep!')

Yep!

In [64]:
if 1 < 2:
    print('yep!')

yep!

In [65]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [66]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [67]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [68]:
seq = [1,2,3,4,5]

In [69]:
for item in seq:
    print(item)

1
2
3
4
5

In [70]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [71]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [72]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [73]:
range(5)

range(0, 5)

In [74]:
for i in range(5):
    print(i)

0
1
2
3
4

In [75]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [76]:
x = [1,2,3,4]

In [77]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [78]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [79]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [80]:
my_func

In [81]:
my_func()

default

In [82]:
my_func('new param')

new param

In [83]:
my_func(param1='new param')

new param

In [84]:
def square(x):
    return x**2

In [85]:
out = square(2)

In [86]:
print(out)

4

## lambda expressions

In [87]:
def times2(var):
    return var*2

In [88]:
times2(2)

4

In [89]:
lambda var: var*2

## map and filter

In [90]:
seq = [1,2,3,4,5]

In [91]:
map(times2,seq)

In [92]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [93]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [94]:
filter(lambda item: item%2 == 0,seq)

In [95]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [96]:
st = 'hello my name is Sam'

In [97]:
st.lower()

'hello my name is sam'

In [98]:
st.upper()

'HELLO MY NAME IS SAM'

In [99]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [100]:
tweet = 'Go Sports! #Sports'

In [101]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [102]:
tweet.split('#')[1]

'Sports'

In [103]:
d.keys()

dict_keys(['key1', 'key2'])

In [104]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [105]:
lst = [1,2,3]

In [106]:
lst.pop()

3

In [107]:
lst

[1, 2]

In [108]:
'x' in [1,2,3]

False

In [109]:
'x' in ['x','y','z']

True

In [4]:
total ,count = 0, 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1

Enter a number: 9
Enter a number: 11
Enter a number: 19
Enter a number: done

In [5]:
average = total / count
print('Average:, Count :', average, count)

Average:, Count : 13.0 3

In [8]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
print(words)
email = words[1]
pieces = email.split('@')
print(pieces)
print(pieces[1])

['From', 'salman.amir@gmail.com', 'Sat', 'Jan', '5', '09:14:16', '2020']
['salman.amir', 'gmail.com']
gmail.com

In [17]:
dict = {"name":"Guido" , "age":43 , ("hello","world"):1 , 42:"yes" , "42": ["red","white","blue"]}
len(dict)

5

In [19]:
print(dict["42"])

['red', 'white', 'blue']

In [23]:
list1=dict.keys()
print(list1)

dict_keys(['name', 'age', ('hello', 'world'), 42, '42'])

In [26]:
list2=dict.values()
print(list2)

dict_values(['Guido', 43, 1, 'yes', ['red', 'white', 'blue']])

In [21]:
d = { "foo" : 1, "bar" : 2 }
print(d["bar"])   # 2
some_dict = {}
some_dict["foo"] = "yow!"
print(some_dict.keys()) # ["foo"]

2
dict_keys(['foo'])