# 3. Control Flow

## 1. Comparison Operators

In [1]:
10 > 3 # Here we get boolean value
10 >= 3
10 < 20
10 <= 20
10 == 10

True

In [2]:
10 == "10"

False

In [3]:
10 != '10'

True

In [4]:
'bag' > 'apple'

True

In [5]:
'bag' == 'BAG' # False beacuse every character has a numeric representation. lets see next step

False

In [6]:
ord('b') #converts a character into its Unicode code value.
         #This method accepts a single character.

98

In [7]:
ord('B')

66

In [8]:
'bag' > 'BAG'

True

In [9]:
'bag' < 'BAG'

False

## 2. Conditional Statement

In [10]:
temperature = int(input(' please add the value of temp: '))
if temperature > 30:
    print("it's very hot day")
    print("it is warm")
    print("drink water")
print("done")
print("it's ohk")

 please add the value of temp: 25
done
it's ohk

In [48]:
temperature = int(input(' please add the value of temp: '))
if temperature > 30:
    print("it is warm")
    print("drink water")
elif temperature > 20:
    print("it is nice day")
elif temperature == 5:
    print('its very cold day')
print("done")

 please add the value of temp: 4
done

In [50]:
temperature = 18
if temperature > 30:
    print("it is warm")
    print("drink water")
elif temperature > 20:
    print("it is nice day")
else:
    print("its ohk")
print("done")

its ohk
done

## 3. Ternary Operator

In [53]:
temperature = 18
if temperature > 20:
    print('its a nyc day')
else:
    print("its a cold day")

its a cold day

In [58]:
temperature = 18
message = "it is a nice day" if temperature >= 20 else "its a cold day"
print(message)

its a cold day

In [60]:
age = 13
message = "yes am eligible for vote" if age >= 18 else "am not eligible for vote"
print(message)

am not eligible for vote

In [15]:
age = 22
if age >= 18:
    print("person is  eligible for voting")
else:
    print("Person is not eligible for voting")

person is  eligible for voting

In [16]:
age = 16
condition = "person is eligible for voting" if age >= 18 else "person is not eligible for voting"
print(condition)

person is not eligible for voting

## 4. Logical Operators

In [61]:
high_income = True
good_credit = True

if high_income and good_credit:
    print("eligible for loan")
else:
    print("not eligible for loan")

eligible for loan

In [62]:
high_income = False
good_credit = False

if high_income or good_credit:
    print("eligible for loan")
else:
    print("not eligible for loan")

not eligible for loan

In [67]:
high_income = True
good_credit = False
student = True

if not good_credit:
    print("eligible for loan")
elif student:
    print("not eligible for loan")
elif high_income:
    print('its ohk')
    
print("its is not ohk")

eligible for loan
its is not ohk

In [20]:
high_income = True
good_credit = False
student = True

if (high_income or good_credit) and not student:
    print("eligible for loan")
else:
    print("not eligible for loan")

not eligible for loan

## 5. Short-circuit Evaluation

In [21]:
high_income = True
good_credit = False
student = True

if high_income or good_credit or not student:
    print("eligible for loan")
#Here if any one of the statement is true then the python interpreter stop excute the whole code.

eligible for loan

In [22]:
high_income = True
good_credit = False
student = True

if high_income and good_credit and  student:
    print("eligible for loan")
#Here if any one of the statement is false then the python interpreter will stop the excute the whole program.

## 6. Chaining Comparion Operators

In [23]:
#Age should be in between 18 and 65
age = 22
if age >= 18 and age < 65:
    print("eligible")

eligible

In [24]:
#Age should be in between 18 and 65
age = 22
if 18 <= age < 65: # This is called chaining comparison 
    print("eligible")

eligible

## 7. Quiz

In [25]:
if 10 == '10':
    print('a')
elif 'bag' > 'apple' and 'bag' > 'cat':
    print('b')
else:
    print('c')

c

## 8. For Loops

In [26]:
for number in range(3):
    print('attempt', number)

attempt 0
attempt 1
attempt 2

In [27]:
type(number)

int

In [28]:
for number in range(3):
    print('attempt', number + 1)

attempt 1
attempt 2
attempt 3

In [29]:
for number in range(3):
    print('attempt', number + 1,(number + 1) * '.')

attempt 1 .
attempt 2 ..
attempt 3 ...

In [30]:
for number in range(1, 4):
    print('attempt',number ,number * '.')

attempt 1 .
attempt 2 ..
attempt 3 ...

In [31]:
for number in range(1, 10 ,2):
    print('attempt',number ,number * '.')

attempt 1 .
attempt 3 ...
attempt 5 .....
attempt 7 .......
attempt 9 .........

## 9. For Else

In [32]:
successful = True
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break

attempt
Successful

In [33]:
successful = False
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break
else:
    print('attempted 3 times and failed')

attempt
attempt
attempt
attempted 3 times and failed

In [34]:
successful = True
for number in range(3):
    print('attempt')
    if successful:
        print('Successful')
        break;
else:
    print('attempted 3 times and failed')

attempt
Successful

## 10. Nested Loops

In [35]:
for x in range(5):
    for y in range(3):
        print(f"({x}, {y})")

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

## 11. Iterables

In [36]:
for x in 'python':
    print(x)

p
y
t
h
o
n

In [37]:
for x in [1,2,3,4,5,6,7]:
    print(x)

1
2
3
4
5
6
7

In [38]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

## 12. While Loops

In [39]:
number = 100
while number > 0:
    print(number)
    number //= 2

100
50
25
12
6
3
1

In [41]:
i = 0
while i < 6:
    i += 1
    if i == 3:
    continue
  print(i)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [ ]:
i = 0 
while i < 7:
    i += 1
    if i == 3:
        continue
    print(i)

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")